.jumbotron{
    background: #5282ce;
    height: 100px;
    padding: 0;
    margin: 0;
    display:table;
    width:100%;

}

.jumbotron h1{
    font-family: 'Caveat', cursive;
    display:table-cell; vertical-align:middle;
    color: #3D9970;
    font-size: 80px;
    top: 0;

}

.display-3{
    height: 100%;
    margin: 0;
    padding: 0;
}

#slogan{
    text-align: center;
    color: white;
    top: 0;
}

body{
    height: 1000px;
    background-image:url("https://i.pinimg.com/564x/d8/0b/94/d80b94b58788288a605e7d325459d210.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#searchCol-index{
    margin-top: 10vh;
}

#searchCol-data{
    margin-top: -1.4vh;
    margin-bottom: 5vh;
}

#searchForm-index{
    width: 100%;
}

#searchForm-data{
    margin-top: 2px;
    width: 100%;
}

#searchInputLabel-index{
    height: 50px;
    font-size: 24px;
    width: 70%;
}

#searchInputLabel-data{
    height: 50px;
    font-size: 24px;
    width: 70%;
}

#searchButton-index, #searchButton-data{
    background:white;
    padding: 8px;
}

#searchButton i{
    width:50px;
}

.input-group{
    width: 50%;
    margin-left: 150px;
   
}
#dataContainer{
    width: 100vw;

}

/* GoogleMaps */

#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
/* Granim gradient background */
  #canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* headers for images */
img{
    border-radius: 15px;
    border-style:ridge;
    width: 500px;
}
h2 {
    background-color: #3D9970;
    color: white;
    /* width:100%; */
    margin-left: 3%;
    border-radius: 15px;
    margin-bottom: 0;
    border-style: groove;
    width: 500px;
}
#map {
    margin-top: 3%;
    border-radius: 15px;
    border-style:  double;
    margin-bottom: -1%;
}
#storage
{
    margin-top: -5%;
    margin-left: 10%;
    margin-bottom: -5%;
    width: 100%;
    height: 520px;
    border: 3px solid black;
    overflow: scroll;
    /* display: inline-flex; */
    border-radius: 15px;
    border-style:  double;

}
#btnstorage
{

    width: 100%;
    margin-left: 10%;
    padding-top: 1%;
    margin-bottom: 5%;
    margin-top: -7.2%;
    padding-bottom: 1%;

}
#ecobtn 
{
    font-size: 24px;
    border-style: groove;
    border-color: white;   
    border-width: 3px; 
    background-color: #3D9970;
    color: white;
    width: 46%;
    margin-left: 3%;
    border-radius: 15px;
    border-style:  double;
}
#citybtn
{
    font-size: 24px;
    border-style: groove;
    border-color: white;    
    border-width: 3px; 

    background-color: #3D9970;
    color: white;

    width: 46%;
    margin-right: 3%;;
    border-radius: 15px;
    border-style:  double;


}
#eco
{
    margin-top: 5%;
    margin-bottom: 3%;

    visibility: hidden;

}
#city
{
    margin-top: 5%;
    margin-bottom: 3%;

    visibility: hidden;

}
#searchSpinner
{
    border-width: 10px; 
    background-color: rgba(0,0,0,0);
    margin-top: 32%;
}

#zillow
{
    font-size: 22px;
}
#frontpage
{
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #343A40;
    border-top: #3D9970 solid 3px;
}
#secondPage
{
    text-align: center;
    font-size: 50px;
    /* margin-top: 5%; */
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    margin-bottom: -0.5%;
    background-color: #343A40;
    border-top: #3D9970 solid 3px;
}


/* media queries *******************************************************************/
/* Screens that are 960px or less */
@media screen and (max-width: 980px) {
    #searchForm-data{
        margin: 0;
    }
    #btnstorage
    {
        margin-top: -3vh;
    }

    #storage
    {
        margin-top: -1.5vh;
        height: 520px;
    }
    h2
    {
        width: 95%;

    }
    #annualMedianHPData
    {
        width: 100%;
        height: 20vh;
    } 
    #salesTaxData
    {
        width: 100%;
        height: 20vh;
    }
    #crimeData
    {
        width: 100%;
        height: 20vh;
    }
    #unemploymentData
    {
        width: 100%;
        height: 20vh;
    }
    #popData
    {
        width: 100%;
        height: 20vh;
    }
  }

/* Screens that are 768px or less */
@media screen and (max-width: 768px) {
    #map-container {
        display: none;
    }
  
    #searchForm-data{
        margin-top: 0;
        margin-bottom: 5vh;
    }  
    #data-container
    {
        margin-left: -10%;
    }
    #storage
    {
        height: 500px;
        margin-top: -3vh;
    }
    h2
    {
       width: 100%;
       margin-left: 0%;

    }
    #annualMedianHPData
    {
        width: 100%;
        height: 100%;
    } 
    #salesTaxData
    {
        width: 100%;
        height: 100%;

        /* height: 20vh; */
    }
    #crimeData
    {
        width: 100%;
        height: 100%;

    }
    #unemploymentData
    {
        width: 100%;
        height: 100%;
    }
    #popData
    {
        width: 100%;
        height: 100%;
    }
    #secondPage
    {
        margin-bottom: -12%;
        position: fixed;

    }
}
  
/* Screens that are 360px or less */
@media screen and (max-width: 360px) {
    .jumbotron h1{
        font-size: 36px;
    }

    #searchForm-data{
        margin: 10px;
        margin-left: 0;
        margin-top: 10vh;
        width: 95vw;
        text-align: center;
    }
    
    #searchInputLabel-data{
        height: 60px;
        font-size: 18px;
    } 

}